.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-color: var(--quill-gray);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000, 0.05);
  }
  &__container {
    height: 100%;
    position: relative;
  }
  &__title {
    margin: 0;
    margin-bottom: 40px;
    max-width: 536px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
  }
  &__descr {
    margin: 0;
    font-size: 18px;
  }
  &__image {
    position: absolute;
    right: 228px;
    width: 31%;
    max-height: 90%;
    bottom: 0;
  }
  &__content {
    padding: 0 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
}
.banner-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .swiper-slide {
    height: 100%;
  }
}
.banner-pag{
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

